<h2>Posts</h2>
<p *ngIf="noPosts">No posts found :(</p>
<div *ngIf="!noPosts && Posts" >
    <div class="content-container" *ngFor="let item of Posts">
        <p class="post-time">
            Posted: {{item.date.split("T")[0]}} {{item.date.split("T")[1].split(".")[0]}} by {{item.username}}
        </p>
        <p class="post-header">{{item.title}}</p>
        <div class="code-container">
            <pre><code>{{item.body}}</code></pre>
        </div>
        <a class="page-link" routerLink="comments/{{item.title}}">Comments</a>
    </div>
</div>
<div *ngIf="authService.loggedIn()">
    <h2>Post input</h2>
    <form (submit)="onSubmitPost()">
        <div class="form-group">
        <label for="postTitle">Post title</label>
        <input type="text" class="form-control" placeholder="Enter post title" [(ngModel)]="postTitle" name="postTitle">
        </div>
        <div class="form-group">
        <label for="postBody">Post body</label>
        <textarea  class="form-control" rows="3" placeholder="Enter post body" [(ngModel)]="postBody" name="postBody" ></textarea>
        </div>
        <input class="btn btn-lg btn-primary" type="submit" value="Post">
    </form>
</div>